{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about">

    <div class="image">
        <img src="{% static 'images/aboutus.jpg' %}" alt="">
    </div>

    <div class="content">
        <h3>All About Online Notes Sharing</h3>
        <p><strong>“Online Note Sharing” </strong>is Django project used for sharing notes using the website. Notes that the user wants for a particular subject can be found in the website.<br> This project is written in Python Django and sqlite.<br>
            This Website provide student and Teacher login features and Allow Student to Download notes which are uploaded on this site.<br>
            To Avoid fake uploades this provide features to admin to verify the notes and grant access to all users.</p>
    </div>

</section>
{% endblock %}